body {
    font-family: 'Istok Web', sans-serif;
}

.header {
    background: #294f6e;
}

.nav-link {
    font-size: 15px;
    font-weight: bold;
}

.footer {
    background: #294f6e;
    color: 	#c0c0c0;
    font-size: 14px;
    text-align: center;
    position: fixed; 
    bottom: 0; 
    width: 100%; 
}

.dropdown-menu {
    background-color: #6999c0;
}
.dropdown-menu a:hover {
    background-color: #294f6e;
    color: rgb(255, 255, 255);
    font-size: 16px;
    border-radius: 0 5px 5px 0;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 0 5px 5px 0;
}

.forsearch {
    background-color: #009b86;
    color: rgb(255, 255, 255);
}


.headname {
    margin: 0.5em;
    text-align: center;
}

/*курсив по цетнру*/
.heading {
    font-style: italic;
    text-align: center;
}

.description{
    font-style: italic;
}

p{
    text-indent: 3.5em;
}
.indent{
    margin-left: 3.5em;
}

.container{
    width: 1024px,auto;
}
.main{
    margin-bottom: 40px;
    padding: 16px;
}
/*---------------------------------------
  CARD GRID PROPERTY             
-----------------------------------------*/
.card-title {
	font-size: 22px;
	color: #3b404f;
	font-weight: 700;
}

.card-body {
	padding: 7px;
}

.card-text {
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}

.card-footer {
    text-align: center;
	border: 0;
	padding: 20px 0 0 0;
}

.card-shadow{
    box-shadow: 8px 4px 11px 2px #545454;
}

.link-incard {
	font-size: 14px;
	color: #3b404f;
	font-weight: 400;
}
.btn-color  {
	background:  #294f6e;
	color:#fff;
    padding: 5px 25px;
    font-weight: 800;
}
.btn-color:hover{
    background: #6999c0;
    color:rgb(32, 54, 72);
}
/* стили для содержимого страниц, в т.ч. эпиграфов */
.epigraph{
   text-align: right;
   font-style: italic;
   font-size: 14px; 
   margin: 2em;
}
/*стили картинок в тексте*/
.content-center{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
.img-size{
    height: 480px;
}
.card-img-top{
    height: 300px;
}
.figcaption{
    text-align: center;
    font-size: 12px;
}
/* Стили кнопи "Назад" */
.history-hide {
    display: none!important;
}
#history-button {
    background: #61a229;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    padding: .5em 1em;
    display: inline-block;
    line-height: 1.2;
    margin-bottom: 30px;
    cursor: pointer;
    border: 1px solid #ccc;
}
/* Стили для системы поиска */
.searchResults{

}

/*---------------------------------------
  EPOS PROPERTY             
-----------------------------------------*/
.eposforcard {
    padding: 50px 0px 60px 0;
    
}
.imgforcardepos {
    height: auto;
}

.runaname{
    margin-left: 75px;
}

.linkforcardepos{
    text-decoration: none;
}

.linkforcardepos:hover{
    background: #48fff6; 
    color: rgba(0, 0, 0, 0)FF;
    transition: all 0.2s ease;
    border-radius: 0 8px 8px 0;
    -webkit-border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 0 6px 6px 0;
    box-shadow: 3px 2px 11px 1px #000000;
}

/*---------------------------------------
  ABOUT            
-----------------------------------------*/
.about{
    background-image: url('../images/about5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -80px;
    padding-top: 150px;
    padding-bottom: 150px;   
}

.about-team{
    background-image: url('../images/about1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -80px;
    padding-top: 300px;
    padding-bottom: 100px;   
}

.myBeautifulTeam {
    background: #f0f8ff;
}

.myBeautifulTeam-thumb {
    position: relative;
}

.myBeautifulTeam-thumb-small {
    margin-top: 24px;
}

.myBeautifulTeam-thumb:hover .myBeautifulTeam-info::before {
    background: #0dcaf0;
    width: 100%;
    padding: 15px;
}

.myBeautifulTeam-thumb:hover .myBeautifulTeam-text,
.myBeautifulTeam-thumb:hover .myBeautifulTeam-title {
    color: #ffffff;
}

.myBeautifulTeam-info {
    background: #ffffff;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 20px;
    padding: 10px 15px;
}

.myBeautifulTeam-info::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: #0dcaf0;
    width: 5px;
    height: 100%;
    transition: all 1s;
}

.myBeautifulTeam-image {
    width: 100%;
    display: inline-block; 
    overflow: hidden; 
}

.myBeautifulTeam-image  {
    transition: 1s; 
    display: block; 
   }

.myBeautifulTeam-image:hover {
    transition: 1s;
    transform: scale(1.1);
    object-fit: cover;
}
  
.myBeautifulTeam-text-info {
    padding: 25px;
    color: rgb(0, 0, 0);
    font-size: 28px;
    font-weight: 400;
}
                     
.Team-text-info{
    font-size: 22px;
}

.myBeautifulTeam-text,
.myBeautifulTeam-title {
    position: relative;
}

.myBeautifulTeam-text {
    font-size: 12px;
    text-transform: uppercase;
    color: #717275;
    text-indent: 0;
}

.myBeautifulTeam-featured-text {
    background: #f0f8ff;
    border-radius: 4px;
    color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    text-transform: uppercase;
    margin: 10px;
    padding: 4px 12px;
}

.myBeautifulTeam-thumb .social-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 15px;
}

.myBeautifulTeam-thumb .social-icon {
    opacity: 0;
    transition: opacity all 1s;
}

.myBeautifulTeam-thumb:hover .social-icon {
    opacity: 1;
    transition-delay: 1s;
}

.social-icon {
    opacity: 1;
    transition-delay: 1s;
}

.social-icon-link {
    width: 35px;
    height: 35px;
    line-height: 35px;
}

.social-icon-link {
    font-size: 22px;
    width: 50px;
    height: 50px;
    line-height: 50px;
}
.social-icon-link {
    background: #ffffff;
    border-radius: 100px;
    font-size: 18px;
    color: #000000;
    display: inline-block;
    vertical-align: top;
    margin: 2px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.social-icon-link:hover {
    background: #0dcaf0;
    color: #ffffff;
}

.social-icon li {
    list-style: none;
    display: inline-block;
    vertical-align: top;
}

.textInfo {
    color: #0dcaf0;
}

.hh {
    background: #d20a11;
    color: #ffffff;
    font-weight: 500;
}
.hh:hover{
    background: #0dcaf0;
    color: #ffffff;
    font-weight: 500;
    transform: scale(1.1);
}

/*-----------------------------------------
      ABOUT modal
-----------------------------------------*/
.overlay {
    position: fixed;
    z-index: 5;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    display: none;
    
}
.overlay.active {
    display: block;
}
.overlay .flex-popap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.overlay .flex-popap .popap {
    position: relative;
    background-color: rgb(235, 235, 235);
    padding: 35px 25px;
    margin: 0 10px;
    max-width: 1000px;
    overflow: auto;
}
.popap span {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.space {
    text-indent: 0;
}
.li-none{
    list-style-type: none;
}

/*---------------------------------------
      VIDEO ABOUT           
-----------------------------------------*/
.video-wrap {
    z-index: -100;
}
.custom-video {
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: auto;
}

/*-----------------------------------------
   BTN UP
-----------------------------------------*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgb(132, 179, 248);
    opacity:0.5;
    cursor: pointer;
    padding: 5px;
    border-radius: 8px;
}

#myBtn:hover {
  background-color: rgb(86, 235, 255);
  opacity:1;
}
/*-----------------------------------------
   FOOTER BTN ABOUT
-----------------------------------------*/
.forfooter{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    text-align: center;
    justify-content: center;
}

.btn-about {
    width: 80px;
    height: 5px;
    color: #c0c0c0;
    font-size: 15px;
    cursor: pointer;
    padding-bottom: 37px;
}

.btn-about:hover{
    color: #ffffff;
}

.forbtn-adout{
    display: inline-flex;
} 

/*------------------------------*/
@media screen and (max-width: 1280px) {
    .social-icon-link{
        margin: 2px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
    }
    .myBeautifulTeam-info{
        width: 215px;
        height: 84px;
        margin: 20px;
        padding: 10px 15px;
    }
    .myBeautifulTeam-text-info {
        font-size: 24px;
    }
    .Team-text-info{
        font-size: 18px;
   }
   .myBeautifulTeam-text{
        font-size: 12px;
    }
}

@media screen and (max-width: 1200px) {
    .social-icon-link{
        margin: 2px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
    }
    .myBeautifulTeam-info{
        width: 175px;
        height: 84px;
        margin: 20px;
        padding: 10px 15px;
    }
    .myBeautifulTeam-text-info {
        font-size: 22px;
    }
    .Team-text-info{
        font-size: 14px;
   }
   .myBeautifulTeam-text{
        font-size: 11px;
    }
}
@media screen and (max-width: 991px){
    .myBeautifulTeam-text-info {
        font-size: 22px;
    }
    .Team-text-info{
        font-size: 16px;
    }
    .myBeautifulTeam-info{
        width: 270px;
        height: 62px;
        margin: 20px;
        padding: 10px 15px;
    }
    .myBeautifulTeam-text{
        font-size: 10px;
    }
}
@media screen and (max-width: 768px){
    .myBeautifulTeam-text-info {
        font-size: 22px;
    }
    .Team-text-info{
        font-size: 16px;
    }
    .myBeautifulTeam-info{
        width: 330px;
        height: 62px;
        margin: 20px;
        padding: 10px 15px;
    }
    .myBeautifulTeam-text{
        font-size: 10px;
    }
}

@media screen and (max-width: 480px) {
    .myBeautifulTeam-text-info {
        font-size: 18px;
    }
    .myBeautifulTeam-info{
        margin: 20px;
        padding: 10px 15px;
    }
    .container{
        width: auto;
    }
    .Team-text-info{
        font-size: 16px;
    }  
    .myBeautifulTeam-thumb{
        display: flex;
        justify-content: center;
    }
    .myBeautifulTeam-text{
        
        padding: 5px;
    }
}